
data/cifar-10-python.tar.gz

data/cifar-10-batches-py/data_batch_5

data/cifar-10-batches-py/data_batch_2

data/cifar-10-batches-py/data_batch_3

data/cifar-10-batches-py/data_batch_1

data/cifar-10-batches-py/data_batch_4

data/cifar-10-batches-py/test_batch

data/cifar-10-batches-py/readme.html

data/cifar-10-batches-py/batches.meta

content/ants-bees-dataset/train/

content/ants-bees-dataset/val/ants/

content/ants-bees-dataset/val/bees/

content/MonteCarloDropoutLeNet.pt

07/data/cifar-10-python.tar.gz

07/data/cifar-10-batches-py/

07/content/MonteCarloDropoutLeNet.pt

07/model.h5

07/wandb/settings

08/data/MNIST/MNIST/processed/

08/data/MNIST/MNIST/raw/
